<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/expense.css" />
    <title>Expense-Tracker</title>
  </head>
  <body>
    <div class="container">

      <h4 class="heading-h4">All expenses</h4>
      <table>

        <tr>
          <th>Description</th>
          <th>Category</th>
          <th>Totals</th>
        </tr>
        <form action="/delete/{{expenseid}}" method="POST">

          <tr>
            <td>Lunch</td>
            <td>Weekday</td>
            <td>1600.00</td>
            <td><button type="submit">Delete</button></td>
          </tr>

        </form>
      </table>
    </div>
    <a href="/">Back to home</a>
  </body>
</html>